; vim:ft=dosini 

[colors]
background = #1D2021
foreground = #FFF
background-alt = #3C3836
foreground-alt = #
alert = #FB4934

; [symbols]
; distro = ''

[bar/main]
monitor = VGA-1
bottom = false
fixed-center = true
width = 100%
height = 32
line-size= 1

background = ${colors.background}
foreground = ${colors.foreground}

font-0 = "Iosevka, Iosevka Medium:style=Medium:size=10;2"
font-1 = "Symbols Nerd Font:size=10;2"

; separator = 

modules-left = distro i3 workspaces
modules-center = time
modules-right = disk wired date powermenu

[global/wm]
margin-bottom = 0

[module/distro]
type = custom/text
content = "  "
content-padding = 1

[module/i3]
type = internal/i3
pin-workspaces = false

format-padding = 2
format-margin = 0

format = <label-state> <label-mode>
format-background = ${colors.background-alt}
format-urgent-background =

label-focused = " %index%"
label-inactive =

label-unfocused = 
label-visible =

label-urgent =

[module/workspaces]
type = internal/i3
pin-workspaces = false

; format-padding = 2
format-margin = 3

format = <label-state> <label-mode>
format-background = ${colors.background}
format-urgent-background =

label-focused = "  "
label-inactive =

label-unfocused = "  " 
label-visible =

label-urgent =



[module/date]
type = internal/date
interval = 60

date = %Y-%m-%d%
date-alt =

format = " : <label>"
format-background = ${colors.background-alt}
format-padding = 3
format-margin = 0

label = %date%

[module/time]
type = internal/date
interval = 1.0

time = %H:%H
time-alt = %H:%M:%S

format =  <label>
format-background = ${colors.background-alt}
format-padding = 2
; format-margin = 3

label = %time%


[module/wired]
type = internal/network
interface = enp0s3
interval = 10

format-connected = <label-connected> 
format-connected-margin = 1

label-connected = " : %local_ip%%{O15}"

format-disconnected-margin = 1
format-disconnected-underline = ${colors.alert}

format-disconnected = <label-disconnected>
label-disconnected = "%{F#FB4934} : %ifname%%{F-}"


[module/disk]
type = internal/fs
interval = 10

mount-0 = /

format-mounted-margin = 1
format-mounted-padding = 2
format-mounted-background = ${colors.background-alt}
format-mounted = <label-mounted>

label-mounted = " : %percentage_used%%"


[module/powermenu]
type = custom/menu

expand-right = true

format-spacing = 0
format-margin = 2

label-open = ""
label-open-foreground = ${colors.foreground}
label-close = "%{F#FB4934}  %{F-} "
label-close-foreground = ${colors.foreground}
label-separator = 
label-separator-foreground = ${colors.foreground-alt}

menu-0-0 = "    "
menu-0-0-exec = sudo reboot 
menu-0-1 = "    "
menu-0-1-exec = sudo poweroff
