; vim:ft=dosini 

[colors]
background = #1D2021
foreground = #ebdbb2
background-alt = #3C3836
foreground-alt = #a89984
underline-red = 
underline-yellow = #CC241D
underline-blue = #83a598
underline-green = #b8bb26
underline-cyan = #689d6a
alert = #FB4934

[bar/main]
monitor = ${env:MONITOR:}
bottom = false
fixed-center = true
width = 100%
height = 32
line-size = 3

background = ${colors.background}
foreground = ${colors.foreground}

font-0 = "Symbols Nerd Font:size=9;1"
font-1 = "Iosevka:style=Bold:size=10;1"

modules-left = distro i3 workspaces
modules-center = time
modules-right = sound disk wired date powermenu

[global/wm]
margin-bottom = 0

[module/distro]
type = custom/text
content = "  "
content-padding = 2

[module/i3]
type = internal/i3
pin-workspaces = false

format-padding = 2
format-margin = 0

format = <label-state> <label-mode>
format-background = ${colors.background-alt}
format-urgent-background =
format-underline = ${colors.foreground}

label-focused = " %index%"
label-inactive =

label-unfocused = 
label-visible =

label-urgent =

[module/workspaces]
type = internal/i3
pin-workspaces = false

; format-padding = 2
format-margin = 0
format-padding = 2

format = <label-state> <label-mode>
format-background = ${colors.background}
label-urgent-foreground = ${colors.alert}

label-focused = "  "
label-inactive = 

label-unfocused = "  " 
label-visible =

label-urgent = "  "


[module/time]
type = internal/date
interval = 1

time = %H:%M
time-alt = %H:%M:%S

format = " <label>"
format-background = ${colors.background-alt}
format-underline = ${colors.foreground}
format-padding = 2

label = %time%

[module/sound]
type = internal/alsa

master-mixer = Master
mapped = true
interval = 5

format-volume = <ramp-volume> <label-volume>
format-volume-background = ${colors.background-alt}
format-volume-underline = #8ec07c
format-volume-padding = 2

label-volume = %percentage%

label-muted = 
label-muted-background = ${colors.background-alt} 
label-muted-underline = #8ec07c
label-muted-padding = 2

ramp-volume-0 = 
ramp-volume-1 = 
ramp-volume-2 = 


[module/date]
type = internal/date
interval = 60

date = %d-%m-%Y
; date-alt = %a, %m %Y

format = " <label>"
format-background = ${colors.background-alt}
format-underline = #d79921
format-padding = 2
format-margin = 0

label = %date%

[module/wired]
type = internal/network
interface = enp3s0
interval = 10

format-connected = <label-connected> 
format-connected-margin = 0
format-connected-padding = 2
format-connected-underline = ${colors.underline-blue}

label-connected = " %local_ip%"

format-disconnected-padding = 1
format-disconnected-underline = ${colors.underline-red}

format-disconnected = <label-disconnected>
label-disconnected = "%{F#FB4934} %ifname%%{F-}"


[module/disk]
type = internal/fs
interval = 10

mount-0 = /

format-mounted-margin = 0
format-mounted-padding = 2
format-mounted-background = ${colors.background-alt}
format-mounted-underline = ${colors.underline-green}
format-mounted = <label-mounted>

label-mounted = " %percentage_used%%"

[module/powermenu]
type = custom/menu

expand-right = true

format-spacing = 0
format-margin = 2

label-open = ""
label-open-foreground = ${colors.foreground}
label-close = "%{F#FB4934}  %{F-} "
label-close-foreground = ${colors.foreground}
label-separator = 
label-separator-foreground = ${colors.foreground-alt}

menu-0-0 = "    "
menu-0-0-exec = systemctl reboot 
menu-0-1 = "    "
menu-0-1-exec = systemctl poweroff
menu-0-2 = "    "
menu-0-2-exec = i3-msg 'exit'

